<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ env('Name') }}: Log In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="iFour, Your Smart House or Office Solution." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon_new.png') }}">

        <!-- App css -->
        <link rel="stylesheet" href="{{ asset('assets/theme/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/theme/css/icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/theme/css/app.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <style>
            body {
                padding-bottom: 0;
            }
            .main-div {
                display: flex;
                height: 100vh;
                align-items: center;
            }
            .section {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0%;
            }
        </style>
    </head>
    <body>
        <div class="main-div">
            <div class="section">
                <div class="card bg-pattern">
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <a href="">
                                <span><img src="{{ asset('assets/images/favicon.png') }}" alt="" height="60"></span>
                            </a>
                            <p class="text-muted mb-4 mt-3">Enter your email and password to access admin panel.</p>
                        </div>
                        <form action="{{ route('admin_login_post') }}" method="POST" novalidate>
                            <div class="form-group mb-3">
                                <label for="email">Email</label>
                                <input
                                    id="email"
                                    class="form-control"
                                    type="email"
                                    name="email"
                                    placeholder="Enter your email address"
                                    data-parsley-required-message="Please enter a valid email"
                                    required
                                    >
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Password</label>
                                <input
                                    id="password"
                                    class="form-control"
                                    type="password"
                                    name="password"
                                    placeholder="Enter your password"
                                    data-parsley-required-message="Please enter password"
                                    required
                                    >
                            </div>
                            @if(error)
                                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ error }}
                                </div>
                            @endif
                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-default btn-block" type="submit"> Log In </button>
                            </div>
                            <div class="form-group mt-2 text-center">
                                <a href="{{ route('forgot_password') }}">Forgot password?</a>
                            </div>
                        </form>
                    </div> <!-- end card-body -->
                </div>
            </div>
            <div class="section">
                <img
                    class="logo-main"
                    src="{{ asset('assets/images/logo.svg') }}"
                    alt=""
                    height="200"
                    />
            </div>
        </div>
        <script src="{{ asset('assets/theme/js/vendor.min.js') }}"></script>
        <script src="{{ asset('assets/theme/js/app.min.js') }}"></script>
        <script src="{{ asset('assets/js/parsley.min.js') }}"></script>
        {{--  <script src="{{asset('assets/login.js')}}"></script>  --}}
        <script>
            // $('form').parsley();
        </script>
    </body>
</html>